<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="oversettings.ider.com.cust">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <service
            android:name=".DeskService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ider.deskcust.service" />
            </intent-filter>
        </service>
    </application>

</manifest>
